* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: clear sans, helvetica neue, Arial, sans-serif;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0px;
}

.cell-content {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  height: 100%;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 18px;
}

.cell {
  flex: 1;
  aspect-ratio: 1;
}

.content {
  width: 450px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 430px) {
  .content {
    padding: 0px 20px;
    width: 100%;
  }
}

.row {
  display: flex;
  width: 100%;
}

.board-container {
  border-width: 0px 0px 0.5px 0.5px;
  border-style: solid;
  border-color: black;
}

.details {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
  gap: 5px;
}

.button {
  padding: 3px 8px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  background-color: white;
  border: 0.5px solid black;
}
